.container{
    border-style: solid;
    border-color: red;
    width: 1000px;
    height: 650px;
    border-width: 5px;
    margin-top: 5%;
    padding: 50px;
}

h1{
    text-align: center;
    font-size: 60px;
    color: red;
    line-height: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btns{
    position: relative;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-lg{
    font-size: 25px;
}

#btn-1{
    float:left;
    margin-left: 15%;

}

#btn-2{
    float:right;
    margin-right: 15%;
}
